@model ICollection<CategoryIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var category in Model)
    {
        <h3>@category.Name</h3>
        <h5>@category.Description</h5>
    }
</div>
