@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>1.		Introduction</p>
<p>2.		Personal data we collect</p		Personal>
<p>3.		Why we collect your personal data: purposes</p>
<p>4.		Legal bases for processing</p>
<p>5.		Personal data of minors</p>
<p>6.		Cookies</p>
<p>7.		Facebook-pixel</p>
<p>8.		Google analytics</p>
<p>9.		How long we store your data</p>
<p>10.		How we secure your data</p>
<p>11.		Where your personal data is processed</p>
<p>12.		Who has access to your data</p>
<p>13.		Changes to our policy</p>
<p>14.		How can you exercise your rights?</p>
<p>15.		Contact</p>
















<h2>1.Introduction</h2>
<p>Your privacy is important to us. This Privacy Policy describes how we handle your personal data. We complies with all applicable laws and regulations, including the General Data Protection Regulation (GDPR). We shall only use your personal data for the purposes stated in this Privacy Policy and for no other purposes unless the further processing of the personal data is compatible with the purposes for which this data was originally processed.</p>
<h2>2. Personal data we collect</h2>
<p>
    We collect personal data via our websites www.xindao.com and www.xd-design.com, when you contact us and/or when we send a newsletter.

Personal data is data that can be used to identify your identity. We collect the following information from you in the following way:

When you place an order on our website, we ask you for your name, address, contact details and invoicing details in order to process the order and deliver your order.
If you create an account on our website, we ask you for your name, e-mail address and password so that you can log in and use our services. We request your billing information and delivery address so that you do not have to enter it again for your next order.
If you write a review, we will ask for your e-mail address to contact you if you are not satisfied with your purchase.
If you contact our customer service by means of the chat function, filling in the web form, or sending us an e-mail, we ask you for your name and e-mail address in order to be able to answer your question.
If you wish to receive our newsletter, we ask you for your e-mail address in order to be able to send you this newsletter.
When you visit our website, we will request you if you want to fill in a survey. The main purpose of this inquiry is to improve our services in general. It is not mandatory to fill in this survey to be able to order products from our webshop.
When you visit our website, we collect information about your visit and click behaviour on our website in order to bring our products to your attention and to personalise your website visit. This concerns the IP address of your computer, your username, the time of retrieval, and any other data your browser sends to us. We try to anonymise this data as much as possible.
</p>
<p>
    We collect technical data from our website visitors in order to analyse and improve our services. This includes the measurement and analysis of statistical data and the generation of user statistics. We try to anonymise this data as much as possible. We use technical data through the use of cookies.
</p>

<h2>3.    Why we collect your personal data: purposes</h2>
<p>
    We only process your personal data for the purposes described above.

We shall ask you for your consent before we use your personal data for other purposes, unless the further processing of the personal data is compatible with the purposes for which this data was originally processed. If we wish to process your personal data for other purposes, we shall inform you in advance.

We may have to share your personal data with authorities or other third parties, for example when there are legal obligations.

We shall not use your personal data to take a decision based solely on automated processing, including profiling.
</p>

<h2>4.    Legal bases for processing</h2>
<p>Contract</p>
<p>When you place an order, you enter into a contract with us, which means we require certain information from you, such as your name, e-mail address and billing information.</p>
<p>Justified interests</p>
<p>
    We may process your data if we have certain legitimate interests in processing your personal data, except if your interest in not having the data processed is greater.
</p>
<p>
    Optimising our marketing campaign, personalising our website, and answering your questions is part of our regular business activities. In addition, we would like to keep you informed about our products via the newsletter as part of our regular business activities. Xindao also has an interest in a website with good functionality that is tailored to the wishes of the visitors of the website.
</p>
<p>
You have the right to object to these processing operations. If you wish to object, please contact us. You can reach us via e-mail: info@xindao.com or call :  +31 (0) 70 319 99 85. In that case, we shall cease processing your personal data unless there are compelling, justifiable reasons why our interest in the processing is greater than your interest in stopping the processing. You may not be able to make the best use of our services if you request us to cease processing.
</p>
<p>Permission</p>
<p>In certain cases, we ask you for permission before we process your data. This concerns the following processing:</p>
<p>Before you create an account on our website</p>
<p>Before you write a review or contact our customer service</p>
<p>
    Before we send you a newsletter
</p>
<p>
    You have the right to withdraw your consent at any time. In that case your personal data shall be deleted unless there are compelling reasons why we cannot delete your personal data.
</p>
<p>You can withdraw your consent in the following way:</p>
<p>Newsletter: each newsletter contains a link that allows you to unsubscribe with one click.</p>
<p>Account: you can unsubscribe by sending an e-mail to customersupport@xd-design.com</p>
<p>
    Contact customer service: you can contact us to withdraw your consent via tel. no.: +31 (0) 70 319 99 00.
</p>

<h2>5.    Personal data of minors</h2>
<p>
    We only process the personal data of minors if written permission is given by the parent, caregiver or legal representative.
</p>

<h2>6.    Cookies</h2>
<p>
    We use so-called “cookies”. Cookies are small text files that are stored on a computer or other device such as a tablet or telephone when a visitor views or uses our website. Because some cookies can be traced to personal preferences, they fall under personal data.
</p>
<p>The purpose of the use of cookies is:</p>
<p>To allow the website to function properly or better by, for example, recognising the visitor and thus providing a better service.</p>
<p>Traffic analysis on a website with the aim of identifying potential improvements.</p>
<p>
Recording visitor surfing behaviour with the aim of being able to make more targeted offers.</p>
<p>You can decide yourself whether to accept or refuse cookies. Most internet browsers are set to accept cookies automatically by default. You can, however, change the settings of your browser to prevent this. The Help function of your internet browser shows how you can block cookies. When you choose this, it is possible that certain parts of the website do not function optimally or are not accessible. It is also possible to adjust the settings so you receive a notification before a cookie is saved.</p>
<p>We do not keep unique personal data. Visitors to our website remain anonymous. Therefore, no information is included in our cookies that can be traced back to individual persons. We deal with the data collected by means of cookies confidentially.</p>

<h2>7.    Facebook-pixel</h2>
<p>
    We use Facebook pixels for gathering information that allows us to identify specific target groups. For more information about what Facebook is doing with your personal data we refer to the Facebook privacypolicy which can be found at:  https://www.facebook.com/about/privacy
</p>

<h2>8.    Google analytics</h2>
<p>We use Google analytics for gathering statistic information about our website-use with the purpose of creating targeted marketing campaigns.</p>
 
<h2>9.    How long we store your data</h2>
<p>We do not store your personal data longer than is necessary for the purpose for which we process the data.</p>
<p>Newsletter: your name and contact details will be kept for as long as you are interested in receiving our newsletter.</p>
<p>Answering your questions: your name and contact details are kept for as long as necessary for us to answer your questions.</p>
<p>Delivery of our products: we do not store your data longer than is necessary to deliver the product, to collect the invoice and for other administrative purposes. We shall not store the data we need to collect the invoice for more than two years, unless there are other (legal) reasons for retaining the data.</p>
<p>Technical reasons, such as website optimisation: technical data is stored in an anonymous form as far as possible and used as long as necessary to optimise the website, but not longer than six months.</p>
<p>Survey’s : we keep this information no longer than necessary to monitor our quality of service.</p>





<h2>10.  How we secure your data</h2>
<p>We have taken technical and organisational measures to protect your personal data against unlawful processing or loss.</p>
<p>The security measures we have taken include, but are not limited to, the following measures:</p>
<p>All persons working with us are bound to maintain confidentiality of your personal data.</p>
<p>We ensure third parties who have access to your personal data comply with the requirements we set for security. We have entered into contracts with these third parties to protect your data.</p>
<p>We have created a secure backup environment in order to be able to restore personal data in the event of physical or technical incidents.</p>
<p>We test and evaluate the set measures regularly.</p>
<p>We cannot completely prevent third parties from accessing your data or prevent a loss of your data through a breach of our security measures, but we shall take all appropriate measures to ensure your personal data is not accessible to unauthorised persons.</p>

<h2>11.  Where your personal data is processed</h2>
<p>We process your personal data in the European Union. Your personal data will not be processed or transmitted to other countries.</p>

<h2>12.  Who has access to your data</h2>
<p>We shall not provide your personal data to third parties, except to the parties described below or if you have given permission for this.</p>
<p>We work with the following external parties who have access to your personal data:</p>
<p>Maintaining our financial administration via our ERP system (Microsoft Dynamics)</p>
<p>Facebook, for creating user profiles with the purpose of target marketing.</p>
<p>Copernica for direct mailings</p>
<p>Active Ants, for executing all order activities</p>
<p>Channel Advisor, as a Sales management system</p>
<p>We have entered into a processing agreement with those parties that process your personal data in order to protect your personal data.</p>
<p>We reserve the right to share your personal data with third parties when this is required by law or when this is necessary to protect the interests of you, us or third parties.</p>

<h2>13.  Changes to our policy</h2>
<p>This Privacy Policy may be amended in the event of changes to our products or services, or changes in privacy legislation. We shall publish every amendment on this website. In the case of substantial amendments that apply to you, we shall inform you personally about this by sending you an e-mail for example.</p>

<h2>14.  How can you exercise your rights?</h2>
<p>You have a number of rights under the privacy legislation (including the GDPR). These rights are described in articles 12 - 23 of the GDPR and in related legislation. In any case, you have the following rights with regard to your personal data:</p>
<p>Right to request access to your personal data</p>
<p>Right to request the correction of your personal data if it is incorrect (rectification)</p>
<p>Right to request the removal of your personal data</p>
<p>Right to request restriction of your personal data</p>
<p>If we have processed your personal data on the basis of our legitimate interests: the right to object to the (further) processing of your personal data (opposition)</p>
<p>If we have processed your data on the basis of your permission: right to request the transfer of personal data (data portability)</p>
<p>If you want to receive more information about this or if you want to use one or more of these rights, you can contact us via  info@xindao.nl</p>
<p>Objection and right of complaint</p>
<p>We process certain personal data about you based on our justified interests. You have the right to object to the processing of your personal data on this basis at all times. In that case, we shall cease processing your personal data unless there are compelling, justified reasons why our processing interest is greater than your interest to stop the processing.</p>
<p>What should you do if you disagree with a decision by us, for example when we decide not to delete your personal data? You can use one or more of the following options:</p>

<h3>Contact us: </h3>
<p>In that case we shall try to work with you to find a solution. You can find our contact information at the bottom of this Privacy Policy.</p>
<p>File a complaint: you have the right to file a complaint with the Data Protection Authority: https://www.autoriteitpersoonsgegevens.nl/</p>
<p>Request for mediation: you can ask the Data Protection Authority to mediate between you and us: https://www.autoriteitpersoonsgegevens.nl/</p>
<p>Litigate: you have the right to turn to the competent court to settle the dispute.</p>







